.tile {
    height: 16em;
    width: 16em;
    float: left;
    opacity: 0.6;
    margin-bottom: 30px;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
}

body {
    background-color: #FFCCCC;
}

.tile:hover {
    opacity: 1.0;
    margin-bottom: 30px;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.brand {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 100em) {
    #center {
        height: 48em;
        width: 48em;
        margin: auto;
    }
}

@media only screen and (max-width: 48em) {
    #center {
        height: 80em;
        width: 32em;
        margin: auto;
    }
}

@media only screen and (max-width: 32em) {
    #center {
        height: 144em;
        width: 16em;
        margin: auto;
    }
}